body {
  color: black;
  background-color: whitesmoke;
  font-size: 2em;
  font-family: 'Cardo', serif;    
  text-shadow: .05em .1em 1em #8A0707; 
  text-align: center;
}
.content-footer, .masthead-intro, .masthead-heading {
    text-align: right;
}
.scroll {
  text-align: right;
}
@media only screen and (max-width: 500px){
    .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
        font-size: 5.75em;
  }
}
.masthead {
    postion:absolute;
    background-position: left;
    background-image: url("../us-flag.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: whitesmoke;
    color:black;
    width:100%;
    height:5%;
    border-top: solid 1em #8A0707;
    border-radius: 5px 5px;
}
.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    padding-top: 5em;
}
.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 5.75em;
    letter-spacing:-0.02em;
}
.masthead-intro,
.masthead-heading {
    color: black;
    text-shadow: .05em .01em .25em #8A0707;
    font-family: 'Dancing Script', cursive;
}
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    top:text-align: center;
}
.questions {
    color:#8A0707
}
.content-footer {
    background-color:#8A0707;
    padding: 1em 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.social > li {
    display: inline-block;
}
a {
    color: #B4923C;
}
.p {
    color: white;
    text-transform: lowercase;
}
p:first letter {
    text-transform: capitalize;
}
.introduction-section > p,
.location-section > p,
.content-footer > p{
    font-weight: 300;
    letter-spacing: 0.05em;
}
.questions-section > h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin: 2em 0 1em 0;
}
section > h1 {
    margin-top: 2em;
}